<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/layui/css/layui.css" rel="stylesheet">
    <script src="/layui/layui.js"></script>
    <script src="/js/core.util.js"></script>
    <style>
        #laypage{
            margin-left: 15px;
        }
    </style>

</head>
<body>
    <table class="layui-hide" id="ID-treeTable-demo" >

    </table>
    <div id="laypage"></div>
    <script type="text/html" id="TPL-treeTable-demo">
        <div class="layui-btn-container">
            <button class="layui-btn layui-btn-sm" lay-event="getChecked">获取选中数据</button>
        </div>
    </script>
    <script type="text/html" id="TPL-treeTable-demo-tools">
        <div class="layui-btn-container">

            <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">查看</a>

            <a class="layui-btn layui-btn-xs" lay-event="more">更多 <i class="layui-icon layui-icon-down"></i></a>

            <shiro:hasPermission name="dddd">
           <a class="layui-btn layui-btn-warm layui-btn-xs" lay-event="addChild">新增</a>
           </shiro:hasPermission>


        </div>
    </script>
</body>
<script>
    layui.use(function(){
        var treeTable = layui.treeTable;
        var layer = layui.layer;
        var dropdown = layui.dropdown;
        var laypage = layui.laypage;
        var searchParam={
            pageNum:1,
            pageSize:50,
        }

        var renderTreeTable = function (res) {
            treeTable.render({
                elem: '#ID-treeTable-demo', // 此处为静态模拟数据，实际使用时需换成真实接口
                maxHeight: 'full-90',
                data:res.data.data,
                toolbar: '#TPL-treeTable-demo',
                cols:   [
                    [
                        {type: 'checkbox', fixed: 'left'},
                        {field: 'name', title: '名称', width: 180, fixed: 'left'},
                        {field: 'perms', title: '权限标识', width: 180, fixed: 'left'},
                        {field: 'url', title: '请求地址', width: 180, fixed: 'left'},
                        {field: 'method', title: '请求类型', width: 180, fixed: 'left'},
                        {field: 'parentId', title: '父级ID', width: 100},
                        {field: 'orderNum', title: '排序码', width: 100},
                        {field: 'type', title: '类型', width: 100},
                        {field: 'status', title: '状态', width: 100},
                        {field: 'createTime', title: '创建时间', width: 100},
                        {field: 'updateTime', title: '更新时间', width: 100},
                        {field: 'deleted', title: '是否删除', width: 100},
                        {field: 'pidName', title: '父级名称', width: 100},
                        {fixed: "right", title: "操作", width: 190, align: "center", toolbar: "#TPL-treeTable-demo-tools"}
                    ]
                ]
            });
        }

        CoreUtil.sendAjax("/api/permission/list",JSON.stringify(searchParam),function (res){
            renderTreeTable(res)
        },"POST",true,function (){

        })

    });
</script>
</script>
</html>