<!DOCTYPE html>
<!--<html xmlns:shiro="http://www.github.com/theborakompanioni/thymeleaf-extras-shiro">-->
<html lang="en" xml:th="http://www.thymeleaf.org" xmlns:shiro="https://www.pollix.at/thymeleaf/shiro">
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="https://www.pollix.at/thymeleaf/shiro">-->
<head>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}">
    <script th:src="@{/layui/layui.js}"></script>
    <script th:src="@{/js/core.util.js}"></script>
    <style>
        form button.layui-btn {
            position: relative;
            left: 40%;
        }

        form {
            position: absolute;
            /*top: 50%;*/
            /*left: %;*/
            transform: translate(10%, 5%); /* 将元素自身移动自身宽高的一半 */
        }
    </style>

</head>
<body>
<!--隐藏编辑模版-->
<form action="" class="layui-form" hidden id="editForm">
    <input hidden name="id" type="text">
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">名称</label>
            <div class="layui-input-inline">
                <input class="layui-input" name="username" type="text">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">盐值</label>
            <div class="layui-input-inline layui-input-wrap">
                <input class="layui-input" name="salt" type="text">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">密码</label>
            <div class="layui-input-inline layui-input-wrap">
                <input class="layui-input" name="password" type="text">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">手机号</label>
            <div class="layui-input-inline layui-input-wrap">
                <input class="layui-input" name="phone" type="text">
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">部门ID</label>
            <div class="layui-input-inline">
                <input class="layui-input" name="deptId" type="text">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">真实姓名</label>
            <div class="layui-input-inline layui-input-wrap">
                <input class="layui-input" name="realName" type="text">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">昵称</label>
            <div class="layui-input-inline layui-input-wrap">
                <input class="layui-input" name="nickName" type="text">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">邮箱</label>
            <div class="layui-input-inline layui-input-wrap">
                <input class="layui-input" name="email" type="text">
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">状态</label>
            <div class="layui-input-inline">
                <input class="layui-input" name="status" type="text">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">性别</label>
            <div class="layui-input-inline layui-input-wrap">
                <input class="layui-input" name="sex" type="text">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">是否删除</label>
            <div class="layui-input-inline layui-input-wrap">
                <input class="layui-input" name="deleted" type="text">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">创建ID</label>
            <div class="layui-input-inline layui-input-wrap">
                <input class="layui-input" name="createId" type="text">
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">更新ID</label>
            <div class="layui-input-inline">
                <input class="layui-input" name="updateId" type="text">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">创建地点</label>
            <div class="layui-input-inline layui-input-wrap">
                <input class="layui-input" name="createWhere" type="text">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">创建时间</label>
            <div class="layui-input-inline layui-input-wrap">
                <input class="layui-input demo-table-search-date" name="createTime" type="text">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">更新时间</label>
            <div class="layui-input-inline layui-input-wrap">
                <input class="layui-input demo-table-search-date" name="updateTime" type="text">
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">部门名称</label>
            <div class="layui-input-inline">
                <input class="layui-input" name="deptName" type="text">
            </div>
        </div>

    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-filter="updateUser" lay-submit type="submit">立即提交</button>
            <button class="layui-btn layui-btn-primary" type="reset">重置</button>
        </div>
    </div>
</form>
<div id="conentTable">
    <table class="layui-hide" id="test" lay-filter="test"></table>
    <div id="laypage"></div>
</div>
</body>

<script id="toolbarDemo" type="text/html">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm" lay-event="getCheckData">获取选中行数据</button>
        <button class="layui-btn layui-btn-sm" lay-event="getData">获取当前页数据</button>

    </div>
</script>
<script id="toolDemo" type="text/html">
    <div class="layui-clear-space">
        <a class="layui-btn layui-btn-xs" lay-event="edit" shiro:hasPermission="sys:user:edit">编辑</a>
        <a class="layui-btn layui-btn-xs" lay-event="delete" shiro:hasPermission="sys:user:delete">删除</a>
        <a class="layui-btn layui-btn-xs" lay-event="export" shiro:hasPermission="sys:user:export">导出</a>
    </div>
</script>
<script>
    layui.use(['table', 'dropdown', 'laypage', 'layer'], function () {
        var table = layui.table;
        var dropdown = layui.dropdown;
        var laypage = layui.laypage;
        var $ = layui.jquery;
        var element = layui.element;
        var form = layui.form;
        var layer = layui.layer;
        var laydate = layui.laydate;
        var searchParam = {
            pageNum: 1,
            pageSize: 20,
            username: null,
            userId: null,
            status: null,
            startTime: null,
            endTime: null,
            nickName: null
        }


        var renderTable = function (data) {
            console.log(data)
            table.render({
                elem: '#test',
                data: data,
                toolbar: '#toolbarDemo',
                defaultToolbar: ['filter', 'exports', 'print', { // 右上角工具图标
                    title: '提示',
                    layEvent: 'LAYTABLE_TIPS',
                    icon: 'layui-icon-tips',
                    onClick: function (obj) { // 2.9.12+
                        layer.alert('自定义工具栏图标按钮');
                    }
                }],
                height: 'full-90', // 最大高度减去其他容器已占有的高度差
                css: [ // 重设当前表格样式
                    '.layui-table-tool-temp{padding-right: 145px;}'
                ].join(''),
                cellMinWidth: 80,
                // totalRow: true, // 开启合计行
                page: false,
                cols: [
                    [
                        {type: 'checkbox', fixed: 'left'},
                        {field: 'id', fixed: 'left', width: 80, title: 'ID' },
                        {field: 'username', width: 80, title: '用户'},
                        {field: 'sex', width: 80, title: '性别',align:'center',templet:function (d) {
                                if (d.sex ==1){
                                    return '<div>男</div>'
                                }else if(d.sex == 0){
                                    return '<div>女</div>'
                                }else {
                                    return '<div>不详</div>'
                                }
                            } },
                        {
                            field: 'salt',
                            title: '盐值 <i class="layui-icon layui-icon-tips layui-font-14" lay-event="email-tips" title="该字段开启了编辑功能" style="margin-left: 5px;"></i>',
                            width: 300,
                            expandedMode: 'tips',
                            edit: 'text',
                            align:'center'
                        },
                        {field: 'password',width: 300,title: '密码',align:'center'},
                        {
                            field: 'phone',
                            title: '手机号',
                            edit: 'textarea',
                            minWidth: 150,
                            expandedWidth: 260,
                            align:'center'
                        },
                        {field: 'deptId', width: 100, title: '部门编号',align:'center'},
                        {field: 'realName', width: 130, title: '真实姓名',align:'center'},
                        {field: 'nickName', width: 130, title: '昵称',align:'center'},
                        {field: 'email', width: 250, title: '邮箱',align:'center'},
                        {field: 'status', width: 150, title: '状态',align:'center',templet:function (item) {
                                if(item.status === 1){
                                    return  '  <input type="checkbox" lay-skin="switch" lay-filter="userStatus" lay-text="正常|禁用" checked >';
                                }
                                if(item.status === 2){
                                    return  '  <input type="checkbox" lay-skin="switch" lay-filter="userStatus"  lay-text="正常|禁用" >';
                                }
                            }},
                        {field: 'deleted', width: 100, title: '是否删除',align:'center'},
                        {field: 'createId', width: 100, title: '创建ID',align:'center'},
                        {field: 'updateId', width: 100, title: '更新ID',align:'center'},
                        {field: 'createWhere', width: 100, title: '创建地点',align:'center'},
                        {field: 'createTime', width: 250, title: '创建时间',align:'center'},
                        {field: 'updateTime', width: 250, title: '更新时间',align:'center'},
                        {field: 'deptName', width: 100, title: '部门名称',align:'center'},
                        {fixed: 'right', title: '操作', width: 150, minWidth: 125, templet: '#toolDemo'}
                    ]
                ],
                done: function () {
                    let nextItem = $("input[lay-filter='userStatus']").next()
                    $(nextItem).on('click', function(e){
                        if($.trim($(nextItem).attr("class")) === $.trim("layui-unselect layui-form-switch")){

                        }
                    });


                    var id = this.id;
                    // 下拉按钮测试
                    dropdown.render({
                        elem: '#dropdownButton', // 可绑定在任意元素中，此处以上述按钮为例
                        data: [{
                            id: 'add',
                            title: '添加'
                        }, {
                            id: 'update',
                            title: '编辑'
                        }, {
                            id: 'delete',
                            title: '删除'
                        }],
                        // 菜单被点击的事件
                        click: function (obj) {
                            var checkStatus = table.checkStatus(id)
                            var data = checkStatus.data; // 获取选中的数据
                            switch (obj.id) {
                                case 'add':
                                    layer.open({
                                        title: '添加',
                                        type: 1,
                                        area: ['80%', '80%'],
                                        offset: ['16px', '16px'],
                                        content: '<div style="padding: 16px;">自定义表单元素</div>'
                                    });
                                    break;
                                case 'update':
                                    if (data.length !== 1) return layer.msg('请选择一行');
                                    layer.open({
                                        title: '编辑',
                                        type: 1,
                                        area: ['80%', '80%'],

                                        content: '<div style="padding: 16px;">自定义表单元素</div>'
                                    });
                                    break;
                                case 'delete':
                                    if (data.length === 0) {
                                        return layer.msg('请选择一行');
                                    }
                                    layer.msg('delete event');
                                    break;
                            }
                        }
                    });

                    // 重载测试
                    dropdown.render({
                        elem: '#reloadTest', // 可绑定在任意元素中，此处以上述按钮为例
                        data: [{
                            id: 'reload',
                            title: '重载'
                        }, {
                            id: 'reload-deep',
                            title: '重载 - 参数叠加'
                        }, {
                            id: 'reloadData',
                            title: '仅重载数据'
                        }, {
                            id: 'reloadData-deep',
                            title: '仅重载数据 - 参数叠加'
                        }],
                        // 菜单被点击的事件
                        click: function (obj) {
                            switch (obj.id) {
                                case 'reload':
                                    // 重载 - 默认（参数重置）
                                    table.reload('test', {
                                        where: {
                                            abc: '123456',
                                            //test: '新的 test2',
                                            //token: '新的 token2'
                                        },
                                        /*
                                        cols: [
                                        [ // 重置表头
                                          {type: 'checkbox', fixed: 'left'},
                                          {field:'id', title:'ID', width:80, fixed: 'left', unresize: true, sort: true, totalRow: '合计：'},
                                          {field:'sex', title:'性别', width:80, edit: 'text', sort: true},
                                          {field:'experience', title:'积分', width:80, sort: true, totalRow: true, templet: '<div>{{= d.experience }} 分</div>'},
                                          {field:'logins', title:'登入次数', width:100, sort: true, totalRow: true},
                                          {field:'joinTime', title:'加入时间', width:120}
                                        ]
                                        ]
                                        */
                                    });
                                    break;
                                case 'reload-deep':
                                    // 重载 - 深度（参数叠加）
                                    table.reload('test', {
                                        where: {
                                            abc: 123,
                                            test: '新的 test1'
                                        },
                                        //defaultToolbar: ['print'], // 重载头部工具栏右侧图标
                                        //cols: ins1.config.cols
                                    }, true);
                                    break;
                                case 'reloadData':
                                    // 数据重载 - 参数重置
                                    table.reloadData('test', {
                                        where: {
                                            abc: '123456',
                                            //test: '新的 test2',
                                            //token: '新的 token2'
                                        },
                                        scrollPos: 'fixed',  // 保持滚动条位置不变 - v2.7.3 新增
                                        height: 2000, // 测试无效参数（即与数据无关的参数设置无效，此处以 height 设置无效为例）
                                        //url: '404',
                                        //page: {curr: 1, limit: 30} // 重新指向分页
                                    });
                                    break;
                                case 'reloadData-deep':
                                    // 数据重载 - 参数叠加
                                    table.reloadData('test', {
                                        where: {
                                            abc: 123,
                                            test: '新的 test1'
                                        }
                                    }, true);
                                    break;
                            }
                            layer.msg('可观察 Network 请求参数的变化');
                        }
                    });

                    // 行模式
                    dropdown.render({
                        elem: '#rowMode',
                        data: [{
                            id: 'default-row',
                            title: '单行模式（默认）'
                        }, {
                            id: 'multi-row',
                            title: '多行模式'
                        }],
                        // 菜单被点击的事件
                        click: function (obj) {
                            var checkStatus = table.checkStatus(id)
                            var data = checkStatus.data; // 获取选中的数据
                            switch (obj.id) {
                                case 'default-row':
                                    table.reload('test', {
                                        lineStyle: null // 恢复单行
                                    });
                                    layer.msg('已设为单行');
                                    break;
                                case 'multi-row':
                                    table.reload('test', {
                                        // 设置行样式，此处以设置多行高度为例。若为单行，则没必要设置改参数 - 注：v2.7.0 新增
                                        lineStyle: 'height: 95px;'
                                    });
                                    layer.msg('即通过设置 lineStyle 参数可开启多行');
                                    break;
                            }
                        }
                    });
                },
                error: function (res, msg) {
                    console.log(res, msg)
                }
            });
        }

        var renderLayPage = function (count) {
            laypage.render({
                elem: 'laypage', // 元素 id
                count: count,
                limit: searchParam.pageSize,
                limits: [20, 50, 100],
                curr: searchParam.pageNum,
                groups: 5,
                prev: '上一页',
                next: '下一页',
                layout: ['count', 'prev', 'page', 'next', 'limit', 'refresh', 'skip'], // 功能布局
                jump: function (obj, first) {
                    if (searchParam.pageSize === obj.limit) {
                        searchParam.pageNum = obj.curr;

                    } else {
                        searchParam.pageNum = 1;
                    }
                    searchParam.pageSize = obj.limit;
                    if (!first) {
                        CoreUtil.sendAjax("user/list", JSON.stringify(searchParam), function (res) {
                            renderTable(res.data.userList)
                            renderLayPage(res.data.count)
                        }, "POST", true, function (res) {
                            layer.msg(res.msg)
                        })
                    }
                }
            });
        }


        CoreUtil.sendAjax("user/list", JSON.stringify(searchParam), function (res) {
            renderTable(res.data.userList)
            renderLayPage(res.data.count)
        }, "POST", true, function (res) {
            layer.msg(res)
        })


        // 工具栏事件
        table.on('toolbar(test)', function (obj) {
            var id = obj.config.id;
            var checkStatus = table.checkStatus(id);
            var othis = lay(this);
            switch (obj.event) {
                case 'getCheckData':
                    var data = checkStatus.data;
                    layer.alert(layui.util.escape(JSON.stringify(data)));
                    break;
                case 'getData':
                    var getData = table.getData(id);
                    console.log(getData);
                    layer.alert(layui.util.escape(JSON.stringify(getData)));
                    break;
            }

        });
        // 表头自定义元素工具事件 --- 2.8.8+
        table.on('colTool(test)', function (obj) {
            var event = obj.event;
            if (event === 'email-tips') {
                layer.alert(layui.util.escape(JSON.stringify(obj.col)), {
                    title: '当前列属性选项'
                });
            }else if (event === 'userStatus'){
                console.log(obj);
            }
        });

        // 触发单元格工具事件
        table.on('tool(test)', function (obj) { // 双击 toolDouble
            var data = obj.data; // 获得当前行数据
            if (obj.event === 'edit') {
                let updateUserLayer = layer.open({
                    title: '正在编辑用户: ' + data.username,
                    type: 1,
                    area: ['90%', '90%'],
                    offset: ['16px'],
                    skin:'layui-layer-molv',
                    content: $("#editForm")
                });
                $('form input[name="id"]').val(data.id);
                $('form input[name="username"]').val(data.username);
                $('form input[name="salt"]').val(data.salt);
                $('form input[name="password"]').val(data.password);
                $('form input[name="phone"]').val(data.phone);
                $('form input[name="deptId"]').val(data.deptId);
                $('form input[name="realName"]').val(data.realName);
                $('form input[name="nickName"]').val(data.nickName);
                $('form input[name="email"]').val(data.email);
                $('form input[name="status"]').val(data.status);
                $('form input[name="sex"]').val(data.sex);
                $('form input[name="deleted"]').val(data.deleted);
                $('form input[name="createId"]').val(data.createId);
                $('form input[name="updateId"]').val(data.updateId);
                $('form input[name="createWhere"]').val(data.createWhere);
                $('form input[name="createTime"]').val(data.createTime);
                $('form input[name="updateTime"]').val(data.updateTime);
                $('form input[name="deptName"]').val(data.deptName);
                laydate.render({
                    elem: $('form input[name="updateTime"]'),
                    type: 'datetime',
                    fullPanel: true // 2.8+
                })
                laydate.render({
                    elem: $('form input[name="createTime"]'),
                    type: 'datetime',
                    fullPanel: true // 2.8+
                })
                form.on('submit(updateUser)', function (data) {
                    layer.close(updateUserLayer)
                    let field = data.field; // 获取表单全部字段值
                    CoreUtil.sendAjax("/api/user/updateUser", JSON.stringify(field), function (res) {
                        layer.msg("数据更新成功")
                        CoreUtil.sendAjax("user/list", JSON.stringify(searchParam), function (res) {
                            renderTable(res.data.userList)
                            renderLayPage(res.data.count)
                        }, "POST", true, function (res) {
                            layer.msg(res.msg)
                        })
                    }, "POST", true, function (res) {
                        layer.msg(res.msg)
                    })
                    //jQuery对象转为DOM对象后调用reset()
                    $('form')[0].reset()
                    console.log($('form').first().serializeArray());
                    return false; // 阻止默认 form 跳转
                });
            } else if (obj.event === 'delete') {
                var data = obj.data;
                layer.confirm('确定删除用户'+data.username+'吗？', {icon: 3,skin:'layui-layer-molv',title:'删除操作'}, function(){
                    CoreUtil.sendAjax("/api/user/delete?id="+data.id,null,function (res) {
                        layer.msg('已删除', {icon: 1});
                        CoreUtil.sendAjax("user/list", JSON.stringify(searchParam), function (res) {
                            renderTable(res.data.userList)
                            renderLayPage(res.data.count)
                        }, "POST", true, function (res) {
                            layer.msg(res.msg)
                        })
                    },"DELETE",true,function (res) {
                        layer.msg(res.msg)
                    })
                }, function(){
                    layer.msg('已取消');
                });
            }
        });
        // table 滚动时移除内部弹出的元素
        // var tableInst = table.getOptions('test');
        // tableInst.elem.next().find('.layui-table-main').on('scroll', function () {
        //     dropdown.close('dropdown-table-tool');
        // });

        // 触发表格复选框选择
        table.on('checkbox(test)', function (obj) {
            console.log(obj)
        });

        // 触发表格单选框选择
        table.on('radio(test)', function (obj) {
            console.log(obj)
        });

        // 行单击事件
        table.on('row(test)', function (obj) {
            //console.log(obj);
            //layer.closeAll('tips');
        });
        // 行双击事件
        table.on('rowDouble(test)', function (obj) {
            console.log(obj);
        });

        // 单元格编辑事件
        table.on('edit(test)', function (obj) {
            var field = obj.field; // 得到字段
            var value = obj.value; // 得到修改后的值
            var data = obj.data; // 得到所在行所有键值
            // 值的校验
            if (field === 'email') {
                if (!/^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/.test(obj.value)) {
                    layer.tips('输入的邮箱格式不正确，请重新编辑', this, {tips: 1});
                    return obj.reedit(); // 重新编辑 -- v2.8.0 新增
                }
            }
            // 编辑后续操作，如提交更新请求，以完成真实的数据更新
            // …
            layer.msg('编辑成功', {icon: 1});

            // 其他更新操作
            var update = {};
            update[field] = value;
            obj.update(update);
        });

        // 状态 - 开关操作
        form.on('switch(demo-templet-status)', function(obj){
            var id = this.value;
            var name = this.name;
            layer.tips(id + ' ' + name + ': '+ obj.elem.checked, obj.othis);
        });
    });
</script>
<script type="text/html" id="TPL-demo-title">
    <a href="/detail/{{= d.id }}" class="layui-table-link">
        {{= d.title }}
    </a>
</script>

<!--
模板中的 `d` 不仅包含当前行数据，还包含特定字段，如：
{{= d.LAY_INDEX }} {{= d.LAY_COL }} 等
-->

</html>