<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wzh.study.mapper.SysPermissionMapper">

    <select id="getPermissions"  resultType="com.wzh.study.entity.SysPermission">
        select * from syspermission
        <where>
            id in
            <foreach item="item" index="index"  collection="list" open="(" separator="," close=")">
                #{item}
            </foreach>
        </where>
    </select>

</mapper>