<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wzh.study.mapper.SysRoleMapper">

    <select id="queryRoleByRoleId"  resultType="com.wzh.study.entity.SysRole">
        select * from sys_role
        where id = #{id}
    </select>

</mapper>